header {
    padding: 0 0 220px 0;
  }

img{
  width:70px;
  height: 70px;
    padding: 0;
    margin-left: 10px;
}


.main{
    padding:1px 30px 1px 2px;
}
h2{
   color: white;
   font-style: normal;
   font-weight: bold;
}


.sticky{ 
  position: fixed;
  width: 100%;
  width: 100%;
  z-index: 2;
}
.btnSubmit
{
  width: 150px;
  margin-right: 3px;
   
    border: none;
    cursor: pointer;
    background-color: inherit;
    color:white;  
}


.fa {
  padding: 20px;
  /* font-size: 30px; */
  /* width: 50px; */
  text-align: center;
  text-decoration: none;
  margin: 20px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}