<div class="container login-container" (scroll)="onWindowScroll($event)">
    <h1>MobiTech Electronics LLC</h1>
    <hr>

  

  <div class="container login-container">
    <div class="row login-form-2">
      <div class="col-sm-12 ">
        <h2>Manage Users</h2>
        <br><br>
      </div>
      
      <div *ngIf="elements.userType=='admin'">
      <div  *ngIf='user && user.length'>
        <div class="row">
          <div *ngFor = "let i of user">
             <div class="col"> 
               <h3>{{i.userName}}</h3>
               <h6>Phone:&nbsp;{{i.phone}}</h6>
              <h6>email:&nbsp;{{i.email}}</h6>
              <h6>Usertype:&nbsp;{{i.userType}}</h6>
              <br>
              <td *ngIf="elements.userType=='admin'">
                <button class="btn btnDelete" (click)="deleteUser(i._id)">Delete</button></td>
           </div>
          </div>
        </div>
      </div>
      </div>
