<footer id="footer">
    <div class="footer-top" style="background-color:rgb(68, 67, 67)">
      
        <div class="row">
  
          <div class="col-sm-6  footer-info">
            <h3>MobiTech Electronics L.L.C</h3>
            <h5>Behind Regent Palace Hotel,</h5>
            <h5>Beside Burjuman Metro Station,</h5>
            <h5>Al Karama, Dubai, PIN:116211</h5>
            <!-- <p>A Platform that connects Customers with Restaurants.</p>
            <p>You can register your Restaurant here.</p>
              <p>Customers can choose  Restaurants for their Meals.</p>
            <p></p> -->
          </div>
  
         
  
          <div class="col-sm-6 footer-contact">
            <h3>Contact Us</h3>
            <p>
              <!-- Exit 2, Burjuman Metro Station <br>
              Bur Dubai, Dubai<br>
              UAE <br> -->
             
              <strong>Phone:</strong> +971 552922633<br> 
              <strong>Email:</strong> mobitechelectronic@gmail.com<br>
            </p>
          </div>
      
      </div>
    </div>