<footer id="footer">
    <div class="footer-top" style="background-color:rgb(68, 67, 67)">
      
        <div class="row">
  
          <div class="col-sm-4  footer-info">
            <h4>MobiTech Electronics L.L.C</h4>
            <strong>Behind Regent Palace Hotel,</strong>
            <br>
            <strong>Beside Burjuman Metro Station,</strong>
            <br>
            <strong>Al Karama, Dubai, PIN:116211</strong>
            </div>
  
         
  
          <div class="col-sm-4 footer-info">
            <h4>Contact Us</h4>
              <!-- Exit 2, Burjuman Metro Station <br>
              Bur Dubai, Dubai<br>
              UAE <br> -->
              <strong>Phone:</strong> +971 552922633<br> 
              <strong>Email:</strong> mobitechelectronic@gmail.com
            </div>
            <div class="col-sm-4 footer-info">
            <h4>Like & Follow us </h4>
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              <a href="https://www.facebook.com/mobitechelectronic/" target="_blank" class="fa fa-facebook"></a>
              <a href="https://www.instagram.com/riyasabuaydin/" target="_blank" class="fa fa-instagram"></a>
            
      
      </div>
    </div>