<!-- <div class="container login-container" (scroll)="onWindowScroll($event)">
    <h1>MobiTech Electronics LLC</h1>
    <hr>
    
    <div class="row" *ngIf="elements.userType=='admin'">
      <div class="col-sm-6">
        <button type="button" (click)="addItem(false);" class="btn4 btn-primary">Add Item</button>&nbsp;
        <button type="button" (click)="manageUsers();" class="btn4 btn-primary">Manage Users</button></div>

    </div>
  
  <div class="container login-container">
    <div class="row login-form-2">
      <div class="col-sm-12 ">
        <h2>New Arrivals!</h2>
        <br><br>
        <label>Search By Category:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <button class="btn  col-sm-3" (click)="filterBy($event)" value="Mobile" > Mobile Phones</button>&nbsp;
        <button class="btn  col-sm-3" (click)="filterBy($event)" value="Tablet"> Tablets</button>&nbsp;
        <button class="btn  col-sm-3"(click)="filterBy($event)" value="Laptop" name="Laptop"> Laptops</button>&nbsp;
        <br><br>
      </div>
      
      <div *ngIf='!category'>
      <div  *ngIf='product && product.length'>
        <div class="row">
          <div *ngFor = "let i of product">
             <div class="col"> 
               <a (click)='productDetail(i._id)'><img [src]="transform('data:image/jpeg;base64,'+i.image)" alt="Details" style="width: 300px; height: 300px;"></a>
              <h3>{{i.productName}}</h3>
              <span>Price:{{i.productPrice | currency:"AED"}}</span>
              <br>
              <td *ngIf="elements.userType=='admin'">
                <button class="btn btnEdit" (click)="editItem(i._id,true)">Edit</button>&nbsp;
                <button class="btn btnDelete" (click)="deleteItem(i._id)">Delete</button></td>
              <span><a (click)='productDetail(i._id)' style="color: blue;">Details</a></span>
           </div>
          </div>
        </div>
      </div>
      </div>

      <div *ngIf='category'>
        <div  *ngIf='product && product.length'>
          <div class="row">
            <div *ngFor = "let i of product">
               <div class="col"> 
                 <a (click)='productDetail(i._id)'><img [src]="transform('data:image/jpeg;base64,'+i.image)" alt="Details" style="width: 300px; height: 300px;"></a>
                <h3>{{i.productName}}</h3>
                <span>Price:{{i.productPrice | currency:"AED"}}</span>
                <br>
                <td *ngIf="elements.userType=='admin'">
                  <button class="btn btnEdit" (click)="editItem(i._id,true)">Edit</button>
                  <br>
                  <button class="btn btnDelete" (click)="deleteItem(i._id)">Delete</button></td>
                <span><a (click)='productDetail(i._id)' style="color: blue;">Details</a></span>
             </div>
            </div>
          </div>
        </div>
        </div>
      </div>
 -->


 
 <!-- <div class="container login-container" *ngIf="!flag">
  <div class="row">
    <div class="col-sm-12 login-form-1">
      <h3>Item Details</h3>
      <hr>
      <form [formGroup]="registerForm" (ngSubmit)="addItem()">
  
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="name " />
        </div>
  
      
      <div class=" row available">
        <div class="col-sm-2"> Video</div>
        <div class="col-sm-10">
          <input type="file" id="video" (change)="fileChange($event)" formControlName="video"
            accept="video/*" />
        </div>
      </div>
      <div class="row ">
        <div class="form-group col-sm-6 insider ">
          <input type="submit" class="btnSubmit" value="Add" />
        </div>
      </div>
    </form>
  </div>
    </div>
  </div> -->