<div class="container login-container" (scroll)="onWindowScroll($event)">
    <h1>MobiTech Electronics LLC</h1>
    <hr>
    <!-- <div class="row login-form-2">
      <div class="col-sm-12 border divimg">
        <img  [src]="transform('data:image/jpeg;base64,'+restaurant.image)" alt="Upload Image">
      </div>
    </div>
    <input type="file" id="picture" name="picture" (change)="fileChange($event)" placeholder="Upload Image" accept="image/*"  *ngIf="elements.userType=='admin'" />
   -->
    
  </div>
  
  
  
  

  <div class="container login-container  login-form-2">
    <div class="row">
      <div class="col-sm-12 ">
      <br>
        <h2>Product Details</h2>
      <br>
      <br>
    </div>
    </div>
      <div  *ngIf='product'>
        <!-- <div class="row" > -->
          <span><a routerLink='/products' style="color: blue;"><b>Back</b></a></span>

             <div class="row" > 
               <div class="col-sm-6">
                 
               <img [src]="transform('data:image/jpeg;base64,'+product.image)" alt="Details" style="width: 300px; height: 300px; border-radius: 5%;">
              <td *ngIf="elements.userType=='admin'">
                <button class="btn btnEdit" (click)="editItem(product._id,true)">Edit</button>&nbsp;
                <button class="btn btnDelete" (click)="deleteItem(product._id)">Delete</button></td>
                <!-- <br> -->
                <!-- <br> -->
              <!-- <br> -->
           </div>
          <div class="col-sm-6 ">
            <div class="row">
              <div class="col-sm-6 ">
            <h3 style="color: #428bca;">{{product.productName}}</h3>
            <br>
          </div>
          </div>
           <div class="row">
            <!-- <div class="col-sm-3"> -->
            <p>Brand:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- </div> -->
          <!-- <div class="col-sm-3"> -->
            <h5 style="color: #428bca;"><b>{{product.productBrand}}</b></h5>
          <!-- </div> -->
        </div>
        <div class="row">
          <!-- <div class="col-sm-3"> -->
          <p >Category:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- </div> -->
        <!-- <div class="col-sm-3"> -->
          <span><b>{{product.productCategory}}</b></span>
        <!-- </div> -->
      </div>
        <div class="row">
          <!-- <div class="col-sm-3"> -->
          <p>Price:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- </div> -->
        <!-- <div class="col-sm-3"> -->
          <span><b>{{product.productPrice |currency:"AED"}}</b></span>
        <!-- </div> -->
        </div>
        <div class="row">
          <!-- <div class="col-sm-3"> -->
          <p>Colors:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- </div> -->
        <!-- <div class="col-sm-3"> -->
          <span><b>{{product.productColor}}</b></span>
        <!-- </div> -->
        </div>
        <div class="row">
          <!-- <div class="col-sm-3"> -->
          <p>Camera:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- </div> -->
        <!-- <div class="col-sm-3"> -->
          <span><b>{{product.productCamera}}</b></span>
        <!-- </div> -->
        </div>
        <div class="row">
          <!-- <div class="col-sm-3"> -->
          <p>Processor:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- </div> -->
        <!-- <div class="col-sm-3"> -->
          <span><b>{{product.productProcessor}}</b></span>
        <!-- </div> -->
        </div>
        <div class="row">
          <!-- <div class="col-sm-3"> -->
          <p>Available:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- </div> -->
        <!-- <div class="col-sm-3"> -->
          <span><b>{{product.productAvailability}}</b></span>
        <!-- </div> -->
        </div>
        <div class="row">
          <!-- <div class="col-sm-3"> -->
          <p>Memory:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- </div> -->
        <!-- <div class="col-sm-3"> -->
          <span><b>{{product.productMemory}}</b></span>
        <!-- </div> -->
        </div>
        <div class="row">
          <!-- <div class="col-sm-3"> -->
          <p>Description:</p>&nbsp;&nbsp;&nbsp;
        <!-- </div> -->
        <!-- <div class="col-sm-3"> -->
          <span><b>{{product.productDescription}}</b></span>
        <!-- </div> -->
        </div>
       
        <div class="row">
          <p>User Rating:</p>&nbsp;&nbsp;&nbsp;
          <div class="star">
            <span><rating [(ngModel)]="product.totalRating" [max]="max" [readonly]='true' class="rating" style="color: #428bca;"></rating></span>&nbsp;
            <span style="color: black;">({{product.totalRating |currency:  fractionsize :"" }})</span>
          </div>
        </div>
        <div class="col-sm-6 " *ngIf="elements.userType=='user'">
          <br>
          <br>
          <p style="color: #428bca;">Rate This Product</p>
          <div class="star">
            <rating [(ngModel)]="value" [max]="max" [readonly]="flase" class="rating"></rating><br>
            <input type="button" class=" btn btnSubmit" value="Submit" (click)="feedback(product)" />
          </div>
        </div>
      </div>
    </div>
  </div>
  